.box{
  width: 300px;
  margin: 0 auto;
}

.form{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.error{
  color: red;
}

.inputError{
  background-color: #de8080;
}

.inputSuccess{
  background-color: #b1f18f;
}
